html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #f7f7f8;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    /*background-image: linear-gradient(to bottom, grey 0%, black 45%, black 55%, #444 100%);*/
    background: #EEE;
}
